*

!synth2
!*.d
!*.ini
!*.json
!*.md
!*.py
!.gitignore
!LICENSE

!tool/

!source/
!source/synth2/

!resource/
!resource/*.ver
!resource/*.lst
!resource/*.png
!resource/*.ttf

!.github/
!.github/workflows/
!.github/workflows/*.yml